body {
  font-family: helvetica;
}

html, body{
  margin: 0;
  height: 100%;
}
.Headcontainer{
  margin-left: 50px;
  margin-right: 50px;
}
.Headcontainer2{
  margin-left: 50px;
  margin-right: 50px;
}

.background{
  background-image: url("background.jpg");
  width: auto;
  height: 500px;
}

.Section1{
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 150px;
  margin-top: 100px;
  width: 50%
}

.Section1 h1{
  font-size: 40px;
  color: white;
}

.Section1 h3{
  color: white;
}

.Section1 p{
  font-size: 18px;
  width: 100%;
  color: white;
}

.Section2{
margin-top: 100px;
}

.holdingcontainer{
  width: 100%;
  display: flex;
  padding: 50px;
  box-sizing: border-box;
  flex-direction: row;
  height: auto;
}
.holdingcontainer2{
  width: 100%;
  display: flex;
  padding: 50px;
  box-sizing: border-box;
  flex-direction: row;
  height: auto;
  margin-top: 50px;
}

.internalcontainerL{
  flex: 1;
  padding: 30px;
  font-family: helvetica;
  padding-top: 150px;
}
.internalcontainerL2{
  flex: 1;
  padding: 30px;
  font-family: helvetica;
}

.internalcontainerR{
  flex: 1;
  padding: 30px;
  font-size: 12px;
  font-family: helvetica;
}
.internalcontainerR2{
  flex: 1;
  padding: 30px;
  font-size: 12px;
  font-family: helvetica;
}

header {

}

header::after {
content: '';
display: table;
clear: both;
}

.Logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 30px;

  position: relative;
}
.sociallinks{
  padding-top:30px;
}

.sociallinks li{
  display: inline-block;
  margin-right: 30px;
  list-style: none;
}

.Headcontainer nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

.Headcontainer nav a:hover {
  color: #93e9be;
}

.Headcontainer nav a::before {
  content: '';
  display: block;
  height: 5px;
  width: 100%;
  background-color: #1261a0;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 200ms;

}

.Headcontainer2 nav a:hover::before {
  width: 100%;
}
.Headcontainer2 nav a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

.Headcontainer2 nav a:hover {
  color: #93e9be;
}

.Headcontainer2 nav a::before {
  content: '';
  display: block;
  height: 5px;
  width: 100%;
  background-color: #1261a0;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 200ms;

}

.Headcontainer2 nav a:hover::before {
  width: 100%;
}

.Headcontainer nav a:hover::before {
  width: 100%;
}

.flex-container {
  display: flex;
  padding-top: 100px;
}

.main-content {
  flex: 1;
}

.main-content img {
  float: right;
  padding-right: 150px;
  padding-top: 20px;
}

.sidebar {
  flex: 1;
  padding-right: 100px;
}

.btn {
  padding-top: 10px;
  margin-left: -10px;
}

.button {
  background: #1261a0;
  padding: 10px 20px;
  font-size: 14px;
  font-family: helvetica;
  cursor: pointer;
  margin: 10px;
  text-decoration: none;
  color: white;
  border-radius: 30px;
}

.button:hover {
  background-color: white;
  color: #1261a0;
  transition: all ease-in-out 200ms;
  border: 1px solid #1261a0;
}

.holdingcontainer hr {
  background-color: #1261a0;
  height: 2px;
  width: 100px;
}

hr {
  background-color: #1261a0;
  height: 2px;
  margin:auto;
  margin-top: 20px;
}

.holdingcontainer p{
  text-align: center;
}
.holdingcontainer h2{
  text-align: center;
}

h2{
text-align: center;
font-size: 32px;
}

.holdingcontainer2 p{
  font-size: 24px;
}
.holdingcontainer2 h3{
  font-size: 30px;
}

footer{
  width: 50%;
  margin:auto;
  height: 300px;
}

footer h2{
  font-size: 40px;
}

footer p{
  text-align: center;
  width: 75%;
  margin: auto;
}

footer .btn{
  margin: auto;
  display: flex; justify-content: center;
  background-color: white;
}

.logo{
  position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
	z-index: 200;
}
